* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;   
}

/*resets browser defaults to zero so no unexpected behavior. Sets box model so actual width includes padding and border. */

header {
    background-image: url("Images/pattern.webp");
    margin-bottom: 30px;

}

header h1 {
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
}

nav {
    text-align: center;
}

nav li {
    display: inline-block;
      margin: 20px 50px;
}

li a {
    color: red;
    text-decoration: none;
    background-color: khaki;
    border: solid khaki 2px;
    border-radius: 5px;
    padding: 5px;
    font-family: Helvetica;
  
}

li a:hover {
    color: khaki;
    background-color: red;
    border-color: red;
}

h2.brushes {
    font-family: Helvetica;
    font-size: 32px;
    color: white;
    background-color: mediumspringgreen;
    font-weight: bold;
    padding-left: 10px;
    margin-top: 20px;
}

h2.frames {
    font-family: Helvetica;
    font-size: 32px;
    color: white;
    background-color: lightcoral;
    font-weight: bold;
    padding-left: 10px;
    margin-top: 20px;
}

h2.paint {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
    background-color: skyblue;
    padding-left: 10px;
    margin-top: 20px;
}

a {
    text-decoration: none;
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}

a:hover {
    color: lightblue;
}

img {
    margin: 30px;
}

h3 {
    margin: 5px;
    padding-left: 10px;
    font-family: Arial;
}

p {
    margin: 5px;
    padding-left: 10px;
    font-family: sans-serif;
}
